/**
 * Applied to the main layout of the page.
 */
 body {
  background: #DDEEF2;
  padding: 10px;
}
.Application-Reference-dark { 
  height: 5px;
  width: 5px;
  zoom: 1;
}
.Application-top {
  width: 100%;
  margin-bottom: 10px;
}
.Application-title {
  padding: 0px 0px 0px 10px;
  background: #278296;
}
.Application-title h1 {
  color: #67A7E3;
  margin: 0px;
  padding: 0px 0px 0px 4px;
  font-size: 22px;
}
.Application-title h2 {
  color: #888;
  margin: 0px;
  padding: 0px 0px 0px 4px;
  font-size: 16px;
}
.Application-links {
  padding: 2px 13px 2px 0px;
  background: #278296;
  
}
.Application-links .gwt-HTML{
  font-size: 13px;
  color: #FFFFFF;  
}
.Application-options {
  padding: 6px 10px 0px 0px;
  background: #278296;
}
.Application-options .ex_button {
  width: 42px;
  height: 18px;
  margin: 3px 0px 0px 10px;
  padding: 0px;
  background: #DDEEF2;
  font-size: 12px;
  color: #278296;
}
.Application-options .cl_button {
  width: 84px;
  height: 18px;
  margin: 3px 0px 0px 10px;
  padding: 0px;
  background: #DDEEF2;
  font-size: 12px;
  color: #278296;
}
.Application-options td {
  font-size: 12px;
}

.Application-menu {
  width: 14em;
  height:40em;
  text-align: left;
  border:4px solid #d0e4f6;
}

.Application-navigation{
	background: #80bdcb;
	}
.Application-navigation .Nav_button {  
  height: 26px;  
  padding: 0px;
  background: #9ccbd6;
  font-size: 12px;
  color: #335b64;
  border-right:1px solid #000000;  
  
}
/**
 * Applied to widgets in the content area.
 */
.Application-content-decorator{	
	}

.Application-content-title {  
  padding: 4px 0px 3px 6px;
  text-align: left;
  background: #87C2D6;
  border-bottom: 4px solid #278296;
}
.Application-content-title .gwt-TabBarItem {
  background: none;
  padding: 0px;
}
.Application-content-title  .gwt-TabBarItem .gwt-Label {
  padding-right: 20px;
}
.Application-content-title  .gwt-TabBarItem-selected .gwt-Label {
  color: #0cf;
}

.sc-ContentWidget {
  padding: 5px 10px;
}
.sc-ContentWidget-name {
  color: #BEC7CC;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 15px;
}
.sc-ContentWidget-description {
  color: #fff;
  padding-bottom: 15px;
  border-bottom: 1px solid #999;
  margin-bottom: 15px;
}
.sc-ContentWidget pre {  
  border: 1px solid #000;
  background: #fff;
  color: #000;
  padding: 10px 2px;
  margin: 10px 0px;
}
.is-DockPanel {  	
  text-align: center;   
}
.ishop-OrderGoods-headerRow td {
  color: #7aa5d6;
  text-decoration: underline;
  font-weight: bold;
  padding-left: 20px;
}
.ishop-OrderGoods-dataRow td {
  padding-left: 20px;
}

/* database page*/
.watchListHeader {
  background-color: #2062B8;
  color: black;
  border: 1px solid blue;
}

.watchList {
  border: 1px solid #B5B8C8;
  padding: 2px;
  margin-bottom:6px;
}

/* stock list Price and Change fields */
.watchListNumericColumn {

  text-align: center;
  width:8em;
}
.watchListTimeColumn{
  text-align: center;
  width:10em;
}


/* stock list Remove column */
.watchListRemoveColumn {
  width:8em;
  text-align: center;
}

.addPanel {
  margin: 10px 0px 15px 0px;
}
