<?xml version='1.0' encoding='utf-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
      
<hibernate-configuration>  
	<session-factory>  
            <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  
            <property name="connection.url">jdbc:mysql://localhost:3306/ishop</property>  
            <property name="connection.username">ishop_user</property>  
            <property name="connection.password">ishop_pass</property>  
            <property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
      
            <property name="connection.pool_size">1</property>  
      
            <property name="current_session_context_class">thread</property>  
      
            <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>  
      
			<property name="hbm2ddl.auto">create-drop</property>
            <property name="show_sql">true</property>  
            <property name="format_sql">true</property>  
           
		<mapping resource="com/jcommerce/core/model/AccountLog.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/AdminAction.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/AdminLog.hbm.xml"/> 
        <mapping resource="com/jcommerce/core/model/AdminMessage.hbm.xml"/> 
        <mapping resource="com/jcommerce/core/model/AdminUser.hbm.xml"/> 
        <mapping resource="com/jcommerce/core/model/AffiliateLog.hbm.xml"/> 
        <mapping resource="com/jcommerce/core/model/Agency.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Attribute.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/BonusType.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/BookingGoods.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Brand.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Card.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Cart.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Category.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/CollectGoods.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/ErrorLog.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/FailedLogin.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/FriendLink.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Gallery.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Goods.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/GoodsActivity.hbm.xml"/> 
 		<mapping resource="com/jcommerce/core/model/GoodsAttribute.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/GoodsType.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/MailTemplate.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Order.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/OrderAction.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/OrderGoods.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Pack.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/PayLog.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Payment.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Region.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Session.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Shipping.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/ShippingArea.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Stats.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/User.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/UserAccount.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/UserAddress.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/UserBonus.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/UserRank.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/ArticleCategory.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Article.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/GoodsArticle.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/GroupGoods.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/LinkGoods.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/MemberPrice.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Comment.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Feedback.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/AdPosition.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Advertisement.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Adsense.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Vote.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/VoteData.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/VoteLog.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Topic.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Tag.hbm.xml"/>                 
		<mapping resource="com/jcommerce/core/model/VirtualCard.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/FavourableActivity.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Wholesale.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/ShopConfig.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/SnatchLog.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/AuctionLog.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Plugins.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/SearchEngine.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/EmailList.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/EmailSendList.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Navigation.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Keywords.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Crons.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/AutoManage.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/SessionsData.hbm.xml"/>      
		<mapping resource="com/jcommerce/core/model/Snatch.hbm.xml"/> 
		<mapping resource="com/jcommerce/core/model/Auction.hbm.xml"/>       
		<mapping resource="com/jcommerce/core/model/GroupBuy.hbm.xml"/> 
	</session-factory>  
</hibernate-configuration>  